.reveal-hidden {
  opacity: 0;
  transform: translateY(30px); /* Movimento inicial maior para suavizar */
  filter: blur(5px); /* Adiciona um leve desfoque para um efeito mais fluido */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out, filter 1.5s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
