
/* =======================anime====================================== */
[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  
  }
  
  [data-anime="left"].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  /* =======================anime====================================== */
.reveal-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}